.photoswipe-container {
	position: relative;
}

footer {
	padding:10px;
}

footer .row, main .row {
	margin: 0;
}

main > .row > .col {
	padding:0;
}

main > .row,
main > .row > .col,
main > .row > .col > .photoswipe-container {
	height: 100%;
}