@import "colors";

html,
body {
  height: 100%;
  margin: 0
}

body {
  display: flex;
  flex-flow: column;
  height: 100%;
}

header {
  flex: 0 1 auto;
}

main {
  display: flex;
  flex: 1 1 auto;
  padding: 0;

	> .row {
		margin-bottom:0;
		width:100%;
		padding: 0;
	}

	> .row > .col {
		height:100%;
		padding: 0;
	}
}

#photoswipe-container {
	position: relative;
	height: 100%;
	display: none;
}

#gallery {
	background-color: @dark-grey;
	padding:0;
	height:100%;
	overflow-y: scroll;
	float: left;
	width:100%;
}

#flex-container {
	display: flex;
	width:100%;
	flex-flow: row wrap;
	justify-content: flex-start;
}

.gallery-image, .gallery-folder {

	margin: 0;

	img {
		width: 100%;
	}

	figcaption {
		word-break: break-all;
	}

	&.active .selection-boundary{
		background-color:#456;
	}
}

.gallery-image img {
	border: 1px solid @light-blue;
}

.flex-1 {

	padding: 4%;

	.gallery-image, .gallery-folder {
		flex-basis:100%;
		padding: 4%;
	}

	.selection-boundary {
		padding:3%;
	}
		
}

.flex-2 {

	padding: 3%;

	.gallery-image, .gallery-folder {
		flex-basis:50%;
		padding: 3%;
	}

	.selection-boundary {
		padding:4%;
	}
}

.flex-3 {

	padding: 2.4%;

	.gallery-image, .gallery-folder {
		flex-basis:33.33%;
		padding: 2.4%;
	}

	.selection-boundary {
		padding:5%;
	}
}

.flex-4 {

	padding: 2.2%;

	.gallery-image, .gallery-folder {
		flex-basis:25%;
		padding: 2.2%;
	}

	.selection-boundary {
		padding:6%;
	}
}

.flex-5 {

	padding: 2%;

	.gallery-image, .gallery-folder {
		flex-basis:20%;
		padding: 2%;
	}

	.selection-boundary {
		padding:6%;
	}
}

.flex-6 {

	padding: 1.8%;

	.gallery-image, .gallery-folder {
		flex-basis: 16.6666%;
		padding: 1.8%;
	}

	.selection-boundary {
		padding:8%;
	}
}

.flex-8 {

	padding: 1.6%;

	.gallery-image, .gallery-folder {
		flex-basis: 12.5%;
		padding: 1.6%;
	}

	.selection-boundary {
		padding:9%;
	}
}

.flex-10 {

	padding: 1.5%;

	.gallery-image, .gallery-folder {
		flex-basis: 10%;
		padding: 1.5%;
	}

	.selection-boundary {
		padding:10%;
	}
}

.metadata-image, .metadata-folder {
	display: none;

	&.active {
		display:block;
	}
}













