{% for entry in file_entries %}

    <form class="metadata-image" id="m-i-{{entry.index}}" action="{{entry.uri}}">

        {% csrf_token %}

        <div class="form-inputs">
            {% include 'metadata/image-form-inputs.html' %}
        </div>

        {% include 'metadata/submit.html' %}

    </form>

{% endfor %}

{% for entry in dir_entries %}

    <form class="metadata-folder" id="m-f-{{entry.index}}" action="{{entry.uri}}">

        {% csrf_token %}

        <div class="form-inputs">
            {% include 'metadata/folder-form-inputs.html' %}
        </div>

        {% include 'metadata/submit.html' %}

    </form>

{% endfor %}