{% for entry in file_entries %}

    <form class="metadata-image" id="m-i-{{entry.index}}">

        <div class="form-inputs">
            {% include 'metadata/image-form-inputs.html' %}
        </div>

        <div class="row metadata-submit">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">done</i>
            </button>
        </div>

       

    </form>

{% endfor %}

{% for entry in dir_entries %}

    <form class="metadata-folder" id="m-f-{{entry.index}}">

        <div class="form-inputs">
            {% include 'metadata/folder-form-inputs.html' %}
        </div>

        <div class="row metadata-submit">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">done</i>
            </button>
        </div>

    </form>

{% endfor %}