{% load staticfiles %}

<div id="flex-container" class="flex-4">

	{% for entry in file_entries %}
	<figure class="gallery-image" id="{{entry.index}}"" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">

		<div class="selection-boundary">
		    <a href="{{entry.uri}}?raw=1" itemprop="contentUrl" data-size="{{entry.size}}">
		        <img src="{{entry.uri}}?raw=1" itemprop="thumbnail" alt="{{entry.name}}" />
		    </a>

		    <figcaption itemprop="caption description">
		        {{entry.name}}
		    </figcaption>
		</div>
	</figure>
	{% endfor %}

	{% for entry in dir_entries %}
	<figure class="gallery-folder" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
		<div class="selection-boundary">
		    <a href="{{entry.uri}}" itemprop="contentUrl" data-size="{{entry.size}}">
		        <img src="{% static 'images/folder.png' %}" itemprop="thumbnail" alt="{{entry.name}}" />
		    </a>

		    <figcaption itemprop="caption description">
		        {{entry.name}}
		    </figcaption>
		</div>
	</figure>
	{% endfor %}

</div>

