<figure class="gallery-item" id="item-template" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">

    <div class="selection-boundary list-js-figure-type">
        <a class="list-js-href" itemprop="contentUrl">
            <img class="list-js-thumbnail-src" itemprop="thumbnail" />
        </a>

        <figcaption itemprop="caption description" class="list-js-name"></figcaption>
    </div>

    <div class="item-metadata">
        <div class="list-js-title"></div>
        <div class="list-js-description"></div>
        <div class="list-js-create-date"></div>
    </div>

</figure>