{% load staticfiles %}

<!-- JQUERY -->
<script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>

<!-- MATERIALIZE -->
<script type="text/javascript" src="{% static 'materialize-css/dist/js/materialize.min.js' %}"></script>

<!-- KEYPRESS -->
<script type="text/javascript" src="{% static 'vendor-js/dmauro-keypress/keypress.js' %}"></script>

<!-- JQUERY COLOR -->
<script type="text/javascript" src="{% static 'vendor-js/jquery-color/jquery.color.js' %}"></script>

<!-- PHOTOSWIPE -->
<script type="text/javascript" src="{% static 'photoswipe/dist/photoswipe.js' %}"></script> 
<script type="text/javascript" src="{% static 'photoswipe/dist/photoswipe-ui-default.js' %}"></script>

<!-- COOKIES -->
<script type="text/javascript" src="{% static 'js-cookie/src/js.cookie.js' %}"></script>

<!-- CUSTOM -->

<script type="text/javascript" src="{% static 'dist/js/init.js' %}"></script>
<script type="text/javascript" src="{% static 'dist/js/keypress.js' %}"></script>
<script type="text/javascript" src="{% static 'dist/js/metadata.js' %}"></script>
<script type="text/javascript" src="{% static 'dist/js/uri.js' %}"></script>
