{% load staticfiles %}

<!-- JQUERY -->
<script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js' %}"></script>

<!-- MATERIALIZE -->
<script type="text/javascript" src="{% static 'materialize-css/dist/js/materialize.min.js' %}"></script>

<!-- PHOTOSWIPE -->
<script type="text/javascript" src="{% static 'photoswipe/dist/photoswipe.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'photoswipe/dist/photoswipe-ui-default.min.js' %}"></script> 

<!-- CUSTOM -->
<script type="text/javascript" src="{% static 'dist/js/custom.js' %}"></script>