{% extends "base.html" %}

{% block content %}

<main>
  <div class="row">

    <div class="col xl9 l8 m7 s12">


      <input id="search-field" />

      <div id="gallery">

        {% if image_index is not none %}
          <span class="image-index">{{image_index}}</span>
        {% endif %}

        <div id="flex-container" class="flex-4 flex-container">
          
         

        </div>
        
      </div>

      <div style="display:none;" id='hello'>
        <figure class="gallery-image" id="item-template" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <div class="selection-boundary">
              <a href="" itemprop="contentUrl">
                  <img class="list-js-thumbnail-src" src="" itemprop="thumbnail" />
              </a>

              <figcaption itemprop="caption description" class="list-js-name"></figcaption>
          </div>
        </figure>
      </div>

      

      <div id="photoswipe-container" class='closed'>
        {% include 'photoswipe.html' %}
      </div>
    </div>

    <div class="col xl3 l4 m5 hide-on-small-only metadata">
      {% include 'metadata/metadata.html' %}
    </div>

  </div>

</main>

{% endblock %}