{% load staticfiles %}

<!-- MATERIAL -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="{% static 'materialize-css/dist/css/materialize.min.css' %}"  media="screen,projection"/>

<!-- PHOTOSWIPE -->
<link rel="stylesheet" href="{% static 'photoswipe/dist/photoswipe.css' %}"> 
<link rel="stylesheet" href="{% static 'photoswipe/dist/default-skin/default-skin.css' %}"> 

<!-- CUSTOM -->
<link rel="stylesheet" href="{% static 'css/custom.css' %}"> 